<html>
    <head>
        <title>Main</title>
    </head>
    <body>
        <div>
            <a href="/">Main</a>
        </div>
        <div>
            {% for post in posts %}
                <div>
                    <h7> published: {{ post.published_date }} </h7>
                    <h1><a href="">{{post.title}}</a></h1>
                    <h3>Короче:</h3>
                    <h5>{{ post.text|linebreaksbr }}</h5>
                </div>
            {% endfor %}
        </div>
    </body>
</html>