<html>
    <head>
        <title>Main</title>
    </head>
    <body>
        <div>
            <a href="/">Main</a>
        </div>
        <div>
            <h6>published: 14.06.2014, 12:14</h6>
            <h2>First post</h2>
            <h5>lorem ipsum dolar? Lorem lorem lorem.</h5>
        </div>

        <div>
            <h6>published: 14.06.2014, 12:14</h6>
            <h2>Second post</h2>
            <h5>lorem ipsum dolar? Lorem lorem lorem.lorem ipsum dolar? Lorem lorem lorem.lorem ipsum dolar? Lorem lorem lorem.lorem ipsum dolar? Lorem lorem lorem.lorem ipsum dolar? Lorem lorem lorem.</h5>
        </div>
    </body>
</html>